<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <head>
        <link href='https://fonts.googleapis.com/css?family=Tenali Ramakrishna' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
          <!-- Fonts to support Material Design -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <!-- Icons to support Material Design -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    </head>
    <body>
        <title>Ăn gì?</title>
        <br>
        <br>
        <h1>What's for dinner?</h1>
        <br>
        <Button variant="contained" id="generate">Hôm nay ăn gì?</Button>
    </body>
</html>